/* 
NOTES
make each container full page at desktop
*/


*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5; /*1rem always = 10px*/

    /* ......COLOR VARIABLES..... */
    --darkBlue: rgb(30, 66, 88);
    --medBlue: rgb(65, 111, 140);
    --darkGrey: rgb(64, 76, 83);
    --lightGrey:rgb(106, 125, 137);
    --tanGrey: rgb(237, 237, 237);
    --tanGreyDark: rgb(78, 78, 78);
    --white: rgb(205, 216, 221);


    --boxShadow: rgb(0, 0, 0, .375);
    --boxShadowClicked: rgb(0, 0, 0, .4);
}

body{
    /* ........FONT........ */
    font-size:1.2rem;                      /* baseline font-size (1em) = 12px*/
    font-family: 'Rajdhani', sans-serif;
    position:relative;
    border:2px solid blue;
    padding:0;
}

h1{
    color:var(--darkBlue);
    letter-spacing: -1px;
}

p{
    color:var(--darkGrey);
    font-weight:400;
}

/* turn back to header being included here, undo margin-top adjustments */

.container{
    padding:2rem;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:var(--tanGrey); 
}

section > * + *{ 
    margin-top:1rem; 
}

/* all <button> and <a> */
button, a{
    font-family: 'Rajdhani', sans-serif;
    transition:ease 115ms;
    font-weight: 500;;
    border:none;
}

button:not(.nav__btn), 
.hero__btn{
    font-size:1.4em;              
    padding: 1rem;
    background-color:var(--medBlue);
    color:white;
}

/* ....................................... HEADER ................................... */

header{
    padding:.75rem 2rem;
    top:0;
    min-width:100%;
    background-color:var(--medBlue);
    position:sticky;
}

/* 
"size the svg height as 100%, then size its container <button>"

grace's answer
Instead of using an <img> inside the <button> which 'sourced' the .svg, she used an <svg> html element inside the <button>

always let the child .svg/icon be 100% height or width, and then adjust the parent element (ex <button>) ot the height you want it to be on the page. 

*/

/* wrapper element <button> */
.nav__btn{
    display:flex;
    height:5em;       
}

.nav__svg{
    max-height:100%;           /*<------ svg does NOT overflow parent .nav__btn <button> */
  
}

.nav__btn:hover{
    cursor: pointer;
    background-color: white;
    color:var(--darkBlue);
}

/* about me button is always in hover mode?? */

/* ...............DROP-DOWN NAV / NAV MENU............. */

/* <ul> */
.nav__list{
   position:absolute;
   top:5.7rem;
   list-style-type: none;
   display:none;
}

/* utility class to reveal <nav> */
.displayNav{
    display:inline-block; 
}


/* <li> */
.nav__list__item{
    margin-top:.6rem;
    max-width:max-content;
    
}

/* <a> */
.nav__list__link{
    display:inline-block;
    background-color: var(--white);
    text-decoration:none;
    box-shadow:.2em .2em var(--boxShadow);
    color:var(--tanGreyDark);
    font-size:1.5em;
    padding:10px;
    border:3px solid var(--tanGreyDark);
   
}


/* hover state for everything except hamburger .nav__btn */

/* HOVER STATE (WITHOUT TRANSFORM) */

button:not(.nav__btn):hover,
.hero__btn:hover, 
.nav__list__link:hover{    
    cursor:pointer;
    color:white;
    margin:-.25rem .25rem .25rem -.25rem;       /*<-- move left and up slightly when hovered*/
    box-shadow:.28em .28em var(--boxShadow);
    font-weight:600;
    background-color: var(--darkBlue);

}

/* ............active/click state............. */
button:not(.nav__btn):active, 
.hero__btn:active, 
.nav__list__link:active{
    color: white;
    background-color: var(--darkBlue);
    margin:0;                                     /*<-- move back to original position when clicked*/
    box-shadow:.1em .1em var(--boxShadow);
}





/* .....................................MAIN ..................................*/

/* ......................... HERO ......................... */

.hero__section{
    max-width:max-content;
    align-self:center;
}

h1{
    font-size:2em;  
    display:inline-block;
}

.hero__p{
    max-width:25rem;
}

/* ...... HERO BUTTONS .....*/

.hero__btnContainer{    
   max-width:max-content;
   margin-top:2rem;
   display:flex;
   flex-direction:column;
   gap:1.5rem;
   
}


/* ......................... ABOUT ME ......................... */


/* ........................ MEDIA QUERIES ...................... */

/* ................... 325px BREAKPOINT............. */
@media(min-width:325px){
    /* ............ MAIN ........... */
    h1{
        font-size:2.5em; /* 37.5px */
    }
}

/* ................... 350px BREAKPOINT............. */
@media(min-width:350px){
    /* ........... HEADER ........... */
    .nav__list__link{
        font-size:1.75em;
    }
}

/* .................. 420px BREAKPOINT............... */
@media(min-width:420px){
    /* ...... GLOBAL ELEMENTS........ */

    section > * + *{
        margin-top:2rem;/* at 420px and lower, reduce the vertical margins of children */
    }

    /* ........... HEADER ........... */
    
    .nav__list__link{
        font-size:2em;
    }

    /* ............ MAIN ............ */

    .hero__btnContainer{
        margin-top:3rem;
        flex-direction:row;
    }
}













