/* 
NOTES
make each container full page at desktop
*/


*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5; /*1rem always = 10px*/

    /* ......COLOR VARIABLES..... */
    --darkBlue: rgb(30, 66, 88);
    --medBlue: rgb(65, 111, 140);
    --darkGrey: rgb(64, 76, 83);
    --lightGrey:rgb(106, 125, 137);
    --tanGrey: rgb(237, 237, 237);
    --tanGreyDark: rgb(78, 78, 78);
    --white: rgb(205, 216, 221);
    --red:  rgb(193, 141, 141);
    --darkRed: rgb(195, 75, 75);


    --boxShadow: rgb(0, 0, 0, .375);
    --boxShadowClicked: rgb(0, 0, 0, .4);
}

body{
    /* ........FONT........ */
    font-size:1.2rem;                      /* baseline font-size (1em) = 12px*/
    font-family: 'Rajdhani', sans-serif;
    position:relative;
    padding:0;
}

h1{
    color:var(--darkBlue);
    letter-spacing: -1px;
}

p{
    color:var(--darkGrey);
    font-weight:400;
}

a{
    display:inline-block;
}

/* turn back to header being included here, undo margin-top adjustments */

.container{
    padding:2rem;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:var(--tanGrey); 
    /* border:2px solid blue; */
}

/* section children with preceding sibling get a margin-top, also sub-sections' children with preceding sibling gets same margin-top */
section > *, .left > *, .right > *{    
    margin-bottom:1rem; 
   
}


/* all <button> and <a> */
button, a{
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-weight: 400;;
    border:none;
    transition:all .1s ease-out;
}

a{
    font-size:1.4em;              
    padding: 1rem;
    background-color:var(--medBlue);
    color:white;
}

/* ....................................... HEADER ................................... */

header{
    padding:.75rem 2rem;
    top:0;
    min-width:100%;
    background-color:var(--medBlue);
    position:sticky;
}

/* 
"size the svg height as 100%, then size its container <button>"

grace's answer
Instead of using an <img> inside the <button> which 'sourced' the .svg, she used an <svg> html element inside the <button>

always let the child .svg/icon be 100% height or width, and then adjust the parent element (ex <button>) ot the height you want it to be on the page. 

*/

/* wrapper element <button> */
.nav__btn{
    display:flex;
    height:5em;       
}

.nav__svg{
    max-height:100%;           /*<------ svg does NOT overflow parent .nav__btn <button> */
    width:4rem;
    stroke:var(--tanGreyDark);
    stroke-width: 2;
  
}

.nav__btn:hover{
    cursor: pointer;
    background-color: white;
    color:var(--darkBlue);
}

/* ...............DROP-DOWN NAV / NAV MENU............. */

/* <ul> */
.nav__list{
   position:absolute;
   top:5.7rem;
   list-style-type: none;
   display:none;
}

/* utility class to reveal <nav> */
.displayNav{
    display:inline-block; 
}


/* <li> */
.nav__list__item{
    margin-top:.6rem;
    max-width:max-content;
    
}

/* <a> */
.nav__list__link{
    display:inline-block;
    background-color: var(--white);
    text-decoration:none;
    box-shadow:.2em .2em var(--boxShadow);
    color:var(--tanGreyDark);
    font-size:1.5em;
    padding:10px;
    border:3px solid var(--tanGreyDark);
}


/* Mobile state-classes for nav <a> and all non-nav <a> */

/* for nav <a> navListLinks (includes movement bc default style has box-shadows)*/
.navLinkEffect{
    color:white;
    background-color: rgb(30, 66, 88);
    box-shadow:.1em .1em var(--boxShadow);
    margin:.25rem -.25rem -.25rem .25rem;
    

}

/* .....................................MAIN ..................................*/

/* ......................... HERO ......................... */

.hero__section{
    max-width:max-content;
    align-self:center;
}

h1{
    font-size:2em;  
    display:inline-block;
}

.hero__p{
    max-width:23rem;
}

/* ...... HERO BUTTONS .....*/

.hero__btnContainer{    
   max-width:max-content;
   margin-top:2rem;
   display:flex;
   flex-direction:column;
   gap:1.5rem;
   
}

/* ......................... PREVIEWER ......................... */

.previewer__container{
    display:none;
    padding:2rem 1rem;
    min-height:max-content;
    max-height:max-content;
    max-width: 723px;
    margin: 0 auto;
    position:fixed;
    border: 2px solid var(--tanGreyDark);

    top:1.5rem;
    right:1.5rem;
    bottom:1.5rem;
    left:1.5rem;
    border-radius: 50px;

    background-color: var(--white);
}

.previewer__section{
    display:flex;
    flex-direction: column;
    gap:.85rem;
}

/* undoing the "section child margin-bottom" setting, section > * {margin-bottom: 1rem;} <-- in universal selectors */
.previewer__section > *{
    margin:0;
}

/* ....................PREVIEWER BUTTON SECTION................ */

.button__section{
    margin-bottom:1rem;
}

.previewer__btn{
    display:flex;
    border: 3px solid var(--tanGreyDark);
    align-items:center;
    height:3rem;
    max-width:min-content;
    padding-right:.25rem;
    gap:.25rem;
    /* justify-content: space-around; */
    background-color:var(--tanGrey);
    border: 2px solid var(--tanGreyDark);
}


.previewer__btn:not(.closeBtn):active {
    background-color:var(--darkBlue);
}

.previewer__btn:not(.closeBtn):active span{
    color:white;
}

.previewer__btn:not(.closeBtn):active svg{
    stroke: white;
}

/* for non-nav <a> "page links" (no mvmt bc don't have box-shadows by default)*/


.previewer__svg{
    background-color:transparent;
    max-height:100%;
    max-width:3rem;
    stroke:var(--tanGreyDark);
    stroke-width: 3;

}

.previewer__btn span{
    font-size:1.75em;
    font-weight: 500;
    color:var(--tanGreyDark);
    line-height:.8;
}

.closeBtn{
    background-color: var(--red);
    padding:0rem;
    position:absolute;
    border-radius:50%;
    right:1rem;
}

.closeBtn:active{
    background-color: var(--darkRed); 
}

.closeBtn:active .close__svg{
    stroke:white;
    
}

.mobileClickEffect{
    color:white;
    background-color: rgb(30, 66, 88);
    stroke: white;
   
}


/* .............PREVIEWER DOCUMENT SECTION............... */

/* change out the document in Google Drive with another one with darker text */

.displayPreviewer{
    display:block; /* <-- overwriting 'container' display:flex */
}


.document__section{
    margin-left:auto;
    margin-right:auto;
    border:2px solid var(--tanGreyDark);
    display:block; /*<-- not display:flex like sibling */
    /* position:relative; */
    
    max-width:50rem;
    height:100vw;
    max-height:80vh;
}




#iframe{
    /* position:absolute; */
    width:100%; 
    height:100%; 
    top:0;
    right:0;
    bottom:0;
    left:0; 
}

/* ......................... ABOUT ME ......................... */

.aboutme__left__btnContainer{
    display:inline-block;
}


/* 
previewer section margin: 0, then set padding on it and just add the elements.. possibly make flex-column;
 */

/* ........................ MEDIA QUERIES ...................... */

/* ................... 325px BREAKPOINT............. */
@media(min-width:325px){
    /* ............ MAIN ........... */
    h1{
        font-size:2.5em; /* 37.5px */
    }
}

/* ................... 350px BREAKPOINT............. */
@media(min-width:350px){
    /* ........... HEADER ........... */
    .nav__list__link{
        font-size:1.75em;
    }
}

/* .................. 420px BREAKPOINT............... */
@media(min-width:420px){
    /* ...... GLOBAL ELEMENTS........ */

    section > *, .left > *, .right > *{
        margin-bottom:2rem;
    }

    /* ........... HEADER ........... */
    
    .nav__list__link{
        font-size:2em;
    }

    /* ............ MAIN ............ */

    .hero__btnContainer{
        margin-top:3rem;
        flex-direction:row;
    }

    /* ........PREVIEWER............. */

    .previewer__btn{
        height: 3rem;
    }

    .previewer__btn span{
        font-size:2em;
        
       
    }
}


@media(min-width:550px){
    .previewer__section{
        flex-direction:row;
        /* gap:2.5rem; */
    }

    .previewer__btn span{
        font-size:2.3em;
    }

}


/* .................. 1300px DESKTOP BREAKPOINT............... */
@media(min-width:1300px){
    /* affects nav <a> (.nav__list__link) & <a> ('.btn' classes) */
    a:hover     
    {    
        cursor:pointer;
        color:white;
        margin:-.25rem .25rem .25rem -.25rem;       
        box-shadow:.28em .28em var(--boxShadow);
        font-weight:600;
        background-color: var(--darkBlue);
    
    }


    /* ............active/click state............. */
    a:active{
    color: white;
    background-color: var(--darkBlue);
    margin:0;                                     /*<-- move back to original position when clicked*/
    box-shadow:.1em .1em var(--boxShadow);
    }
    
}



/* 
Problem: 
The a:hover includes the 

*/














